Repository Jay-boo/InsightHoot, pull requests merged in 2024-05, with the labels that each got.

#12 [Scala] First Struct msg data Scala
  .github/workflows/sbt-scala-build.yaml
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/test/scala/simpletest/MyTests.scala
  kind/k8s_config/kafka/kafka-connect.yaml
  kind/k8s_config/spark-pi.yaml
Labels: Scala

#22 [Scala] Feature tagging
  .github/workflows/sbt-scala-build.yaml
  .gitignore
  InsightHoot/.idea/libraries/sbt__com_google_guava_guava_16_0_1_jar.xml
  InsightHoot/.idea/libraries/sbt__com_google_protobuf_protobuf_java_3_19_6_jar.xml
  InsightHoot/.idea/libraries/sbt__commons_logging_commons_logging_1_1_3_jar.xml
  InsightHoot/.idea/libraries/sbt__org_apache_logging_log4j_log4j_api_2_20_0_jar.xml
  InsightHoot/.idea/libraries/sbt__org_apache_logging_log4j_log4j_core_2_20_0_jar.xml
  InsightHoot/.idea/modules/InsightHootKafka.iml
  InsightHoot/build.sbt
  InsightHoot/project/target/config-classes/$0f06ca6fc64769fa999e.cache
  InsightHoot/project/target/config-classes/$24494f449734412b1037.cache
  InsightHoot/project/target/config-classes/$9dfb6963c6dc14b9c84e.cache
  InsightHoot/project/target/config-classes/$ad70a4ed3b062f5267de.cache
  InsightHoot/project/target/config-classes/$c4934a3c04ad9c5ce397.cache
  InsightHoot/project/target/config-classes/$c5c87cb88e17d567ed34.cache
  InsightHoot/project/target/config-classes/$f65ad7ef254fdf41125e.cache
  InsightHoot/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
  InsightHoot/src/main/resources/tags.json
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/main/scala/SparkMachine.scala
  InsightHoot/src/main/scala/Tagger.scala
Labels: Scala

#33 [Scala] psql integration : DataManager created
  InsightHoot/.idea/modules/InsightHootKafka.iml
  InsightHoot/build.sbt
  InsightHoot/project/target/.sbt-compilation-infos/insighthoot-compile/.sbt-idea-lock
  InsightHoot/project/target/.sbt-compilation-infos/insighthoot-test/.sbt-idea-lock
  InsightHoot/project/target/config-classes/$01e23a019cb748772525.cache
  InsightHoot/project/target/config-classes/$21ce3e1a178fa5767c4a.cache
  InsightHoot/project/target/config-classes/$c5b2b32e3571d3bd8d91.cache
  InsightHoot/project/target/streams/_global/update/_global/streams/out
  InsightHoot/src/main/resources/application.conf
  InsightHoot/src/main/scala/models/DatabaseConfig.scala
  InsightHoot/src/main/scala/models/db/MessageComponent.scala
  InsightHoot/src/main/scala/models/db/TagComponent.scala
  InsightHoot/src/main/scala/models/db/TopicComponent.scala
  InsightHoot/src/main/scala/models/entities/Message.scala
  InsightHoot/src/main/scala/models/entities/TagTheme.scala
  InsightHoot/src/main/scala/models/entities/Topic.scala
  InsightHoot/src/main/scala/models/repositories/MessageRepository.scala
  InsightHoot/src/main/scala/models/repositories/TagRepository.scala
  InsightHoot/src/main/scala/models/repositories/TopicRepository.scala
  InsightHoot/src/test/scala/MessageRepositorySpec.scala
  InsightHoot/src/test/scala/TagRepositorySpec.scala
  InsightHoot/src/test/scala/TestDatabaseConfig.scala
  InsightHoot/src/test/scala/TopicRepositorySpec.scala
Labels: CI/CD, Scala

#30 [Scala] Feature unittest
  InsightHoot/.idea/modules/InsightHootKafka.iml
  InsightHoot/project/target/config-classes/$2d83655801ecec135e10.cache
  InsightHoot/project/target/streams/compile/compileIncremental/_global/streams/out
  InsightHoot/project/target/streams/compile/copyResources/_global/streams/out
  InsightHoot/project/target/streams/compile/incOptions/_global/streams/out
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/test/resources/raw_data/part-00000-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/resources/raw_data/part-00001-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/resources/raw_data/part-00002-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/resources/raw_data/part-00003-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/resources/raw_data/part-00004-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/resources/raw_data/part-00005-e50ee3e2-7478-4aad-89b7-880216ce2ac7-c000.snappy.parquet
  InsightHoot/src/test/scala/TagTests.scala
  InsightHoot/src/test/scala/simpletest/MyTests.scala
Labels: test

#37 date, link and feed_url added
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/main/scala/Tagger.scala
  InsightHoot/src/test/scala/TagTests.scala
Labels: Spark, Scala

#47 [CICD] Kubeflow/spark-operator v1.2.7 forced
  .github/workflows/sbt-scala-build.yaml
  kind/create_kind_cluster.sh
Labels: CI/CD

#48 Feature dashboard tests
  .github/workflows/django.yaml
  .github/workflows/sbt-scala-build.yaml
  Dashboard/dashboard/dashboard/settings.py
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0001_initial.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0002_message_pub_date.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0003_topic_alter_message_topic.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/__init__.cpython-310.pyc
  Dashboard/dashboard/feedviewer/tests.py
  Dashboard/dashboard/graphs/migrations/0001_initial.py
  Dashboard/dashboard/graphs/tests.py
  Dashboard/requirements.txt
  kind/create_kind_cluster.sh
Labels: DashBoard, CI/CD, django

#54 Feature dashboard update models secure
  Dashboard/dashboard/feedviewer/migrations/0004_delete_message_delete_topic.py
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0001_initial.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0002_message_pub_date.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/0003_topic_alter_message_topic.cpython-310.pyc
  Dashboard/dashboard/feedviewer/migrations/__pycache__/__init__.cpython-310.pyc
  Dashboard/dashboard/feedviewer/templates/feedviewer/index.html
  Dashboard/dashboard/feedviewer/templates/feedviewer/index_topics.html
  Dashboard/dashboard/feedviewer/urls.py
  Dashboard/dashboard/feedviewer/views.py
  Dashboard/dashboard/graphs/migrations/0002_rename_title_topics_name_remove_messages_tag_and_more.py
  Dashboard/dashboard/graphs/models.py
  Dashboard/dashboard/graphs/routers.py
  Dashboard/dashboard/graphs/static/js/messages_by_topic.js
  Dashboard/dashboard/graphs/tests.py
  Dashboard/dashboard/graphs/views.py
Labels: DashBoard, test, django

#56 [Scala+PSQL] PSQL integration end v1.0
  .github/workflows/sbt-scala-build.yaml
  InsightHoot/.idea/modules/InsightHootKafka.iml
  InsightHoot/.idea/sbt.xml
  InsightHoot/build.sbt
  InsightHoot/project/project/target/config-classes/$633cc10225596871068c.cache
  InsightHoot/project/target/config-classes/$01e23a019cb748772525.cache
  InsightHoot/project/target/config-classes/$0284d463a096581243dc.cache
  InsightHoot/project/target/config-classes/$08bbad169ec9183d832e.cache
  InsightHoot/project/target/config-classes/$0f06ca6fc64769fa999e.cache
  InsightHoot/project/target/config-classes/$21bd7fb82661e76f68c7.cache
  InsightHoot/project/target/config-classes/$24494f449734412b1037.cache
  InsightHoot/project/target/config-classes/$4b5c55451fb7f5eb0484.cache
  InsightHoot/project/target/config-classes/$52b0dfa47f919fc9b95b.cache
  InsightHoot/project/target/config-classes/$84c7cbebdcd5bb547b21.cache
  InsightHoot/project/target/config-classes/$9dfb6963c6dc14b9c84e.cache
  InsightHoot/project/target/config-classes/$ac08425458d82b1b4c72.cache
  InsightHoot/project/target/config-classes/$ad70a4ed3b062f5267de.cache
  InsightHoot/project/target/config-classes/$b81c77bd997153ab401d.cache
  InsightHoot/project/target/config-classes/$c4934a3c04ad9c5ce397.cache
  InsightHoot/project/target/config-classes/$c5b2b32e3571d3bd8d91.cache
  InsightHoot/project/target/config-classes/$c5c87cb88e17d567ed34.cache
  InsightHoot/project/target/config-classes/$c8d71e63a28a68814e29.cache
  InsightHoot/project/target/config-classes/$e1b5edc47e0037365385.cache
  InsightHoot/project/target/config-classes/$f65ad7ef254fdf41125e.cache
  InsightHoot/project/target/config-classes/$f963bdf1814ccda97311.cache
  InsightHoot/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
  InsightHoot/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
  InsightHoot/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
  InsightHoot/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
  InsightHoot/project/target/streams/_global/update/_global/streams/out
  InsightHoot/project/target/streams/compile/dependencyClasspath/_global/streams/export
  InsightHoot/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
  InsightHoot/project/target/streams/compile/managedClasspath/_global/streams/export
  InsightHoot/project/target/streams/runtime/dependencyClasspath/_global/streams/export
  InsightHoot/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
  InsightHoot/project/target/streams/runtime/fullClasspath/_global/streams/export
  InsightHoot/project/target/streams/runtime/managedClasspath/_global/streams/export
  InsightHoot/src/main/resources/application.conf
  InsightHoot/src/main/scala/DataBaseManager.scala
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/main/scala/SparkMachine.scala
  InsightHoot/src/main/scala/models/DatabaseConfig.scala
  InsightHoot/src/test/scala/MessageTagsRepositorySpec.scala
  kind/create_kind_cluster.sh
  kind/k8s_config/psql/db-configmap.yaml
  kind/k8s_config/psql/postgres-pv.yaml
  kind/k8s_config/psql/postgres-service.yaml
  kind/k8s_config/spark-pi.yaml
Labels: CI/CD, Scala, K8S, postgres

#51 Feature update create table
  .github/workflows/sbt-scala-build.yaml
  InsightHoot/.idea/modules/InsightHootKafka.iml
  InsightHoot/.idea/sbt.xml
  InsightHoot/build.sbt
  InsightHoot/project/target/config-classes/$2d83655801ecec135e10.cache
  InsightHoot/project/target/config-classes/$c8d71e63a28a68814e29.cache
  InsightHoot/project/target/streams/_global/update/_global/streams/out
  InsightHoot/project/target/streams/compile/compileIncremental/_global/streams/out
  InsightHoot/project/target/streams/compile/copyResources/_global/streams/out
  InsightHoot/project/target/streams/compile/incOptions/_global/streams/out
  InsightHoot/src/main/resources/application.conf
  InsightHoot/src/main/scala/DataBaseManager.scala
  InsightHoot/src/main/scala/Main.scala
  InsightHoot/src/main/scala/SparkMachine.scala
  InsightHoot/src/main/scala/Tagger.scala
  InsightHoot/src/main/scala/models/DatabaseConfig.scala
  InsightHoot/src/main/scala/models/db/MessageComponent.scala
  InsightHoot/src/main/scala/models/db/MessageTagsComponent.scala
  InsightHoot/src/main/scala/models/db/TagComponent.scala
  InsightHoot/src/main/scala/models/db/TopicComponent.scala
  InsightHoot/src/main/scala/models/entities/Message.scala
  InsightHoot/src/main/scala/models/entities/MessageTag.scala
  InsightHoot/src/main/scala/models/entities/Topic.scala
  InsightHoot/src/main/scala/models/repositories/MessageRepository.scala
  InsightHoot/src/main/scala/models/repositories/MessageTagsRepository.scala
  InsightHoot/src/main/scala/models/repositories/TagRepository.scala
  InsightHoot/src/main/scala/models/repositories/TopicRepository.scala
  InsightHoot/src/test/scala/MessageRepositorySpec.scala
  InsightHoot/src/test/scala/MessageTagsRepositorySpec.scala
  InsightHoot/src/test/scala/TagRepositorySpec.scala
  InsightHoot/src/test/scala/TagTests.scala
  InsightHoot/src/test/scala/TopicRepositorySpec.scala
  kind/create_kind_cluster.sh
  kind/k8s_config/psql/db-configmap.yaml
  kind/k8s_config/psql/postgres-pv.yaml
  kind/k8s_config/psql/postgres-service.yaml
  kind/k8s_config/spark-pi.yaml
Labels: Scala, K8S, postgres
